<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>GGP ::Reporte::</title>
</head>
<body>
    <header>
        <h1>Gestión de Gastos Personales</h1>
        <nav>
            <ul>
                <li>Bandeja de Gastos</li>
                <li>Reporte de Gastos</li>
                <li>Configuración</li>
            </ul>
        </nav>
    </header>
    <main>      
        <section id="report">
            <p v-if="noSpendingsVisible"> No se han registrado gastos aún.</p>
            <div v-for="y in statement" v-if="reportVisible" class="frame">
                <h2>{{y.year}}</h2>
                <div v-for="month in y.monthList" class="frame">
                    <h3>{{month.month+1}}</h3>
                    <h4>Gastos</h4>                    
                    <div v-for="s in month.spendings">
                        <p>Fecha: {{s.date}}</p>
                        <p>Comercio: {{s.store}}</p>
                        <p>Descripción: {{s.date}}</p>
                        <p>Categoría: {{s.cat}}</p>
                        <p>Habitual: {{s.hab}}</p>
                        <p>Monto: {{s.amount}}</p>
                        <p>En Cuotas: {{s.inst}}</p>
                        <p v-if="s.instNum">En Cuotas: {{s.instNum}}</p>
                        <p>date: {{s.date}}</p>
                    </div>
                    <h4>Gastos por Categoría</h4>
                    <div v-for="s in month.catList">
                        <p>Categoría: {{s.cat}}</p>
                        <p>Habituales: {{s.freqList[0].amount}}</p>
                        <p>No Habituales: {{s.freqList[1].amount}}</p>
                        <p>Total: {{s.freqList[0].amount+s.freqList[1].amount}}</p>
                    </div>
                </div>
            </div>
        </section>  
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="script/report.js"></script>
    <footer>Pié de pagina</footer>
</body>
</html>