<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>GGP ::Reporte::</title>
</head>
<body>
    <header>
        <h1>Gestión de Gastos Personales</h1>
        <nav>
            <ul>
                <li>Bandeja de Gastos</li>
                <li>Reporte de Gastos</li>
                <li>Configuración</li>
            </ul>
        </nav>
    </header>
    <main>      
        <section id="report">
            <div v-for="y in periods">
                {{y.year}}
                <div v-for="month in y.months">
                    {{month+1}}
                    <!--<div v-for="s in spendings ">
                        
                    </div>-->
            </div>
        </section>  
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="script/report.js"></script>
    <footer>Pié de pagina</footer>
</body>
</html>